<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <br><br>
    <div class="container" style="background-color: white; height:500px; box-shadow: 0 10px 20px;">
        <br>
        <h1>Учебники</h1>
        <hr>
        <br>
        <a href="https://drive.google.com/file/d/0B9-7OAG5liPRUWRLSVppVlQ1MVk/view">
            <div class="row">
                <div style="margin-right: 20px">
                    <img src="/static/images/literatura.jpg" height="130px" width="80px" alt="Литература">
                </div>
                <div style="line-height: 0.6">
                    <p><b>Автор:</b> Коровина В.Я.</p>
                    <p><b>Издательство:</b> Просвещение 2017</p>
                    <p><b>Тип книги:</b> Учебник</p>
                    <p><b>Часть:</b> 1</p>
                </div>
            </div>
        </a>
        <hr>
        <br>
        <a href="https://drive.google.com/file/d/0B6696ckkWj_zUmNMS211VHYwZjg/view">
            <div class="row">
                <div style="margin-right: 20px">
                    <img src="/static/images/informatic.jpg" height="130px" width="80px" alt="Литература">
                </div>
                <div style="line-height: 0.6">
                    <p><b>Автор:</b> Босова Л.Л</p>
                    <p><b>Издательство:</b> Бином 2017</p>
                    <p><b>Тип книги:</b> Учебник</p>
                    <p><b>Часть:</b></p>
                </div>
            </div>
        </a>
    </div>
</body>

<style>
    a {
        color: black;
    }
    body {

        background: url(../static/images/3006.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }

    .row {
        margin-left: 20px;
    }


</style>
</html>