<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form method="post">
        <h1>Добавление опроса</h1>
        <select id="vid" name="vid" required>
            <option>Анонимный опрос</option>
            <option>Опрос</option>
        </select>
        <br>
        <br>
        <input type="text" name="title" id="title" class="form-control" value="{{ opros[0] }}"
               placeholder="Введите название"><br>
        <textarea name="var" id="var" class="form-control" placeholder="Введите варианты ответов через пробел">{{ opros[1] }}</textarea><br>

        <input type="submit" class="btn btn-success" value="Отправить">

    </form>
</div>
</body>
<style>
    body {
        background: url(../static/images/3006.jpg) no-repeat center bottom fixed;
        background-size: cover;

    }
</style>
</html>