<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
<div class="wrapper">
    <table class="table table-striped table table-bordered">
        <thead>
        <tr>
            <th scope="col">1 ряд</th>
            <th scope="col">2 ряд</th>
            <th scope="col">3 ряд</th>
        </tr>
        </thead>
        <tbody>
        {% for el in myresult %}
        <tr>
            {% for td in el[1:] %}
            <td>{{ td }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
{% if login == 'классная' and password == '3' %}
<a href="/update_raspol"><input type="submit" class="btn btn-success" value="Изменить"></a>
{% endif %}
</body>

<style>
    .wrapper {
        margin: 0 auto;
        width: 95%;
        max-width: 800px;
       }
    table{
        margin-top: 40px;
        background-color: white;
    }
    body {
        background: url(../static/images/3006.jpg) no-repeat center bottom fixed;
        background-size: cover;
    }


</style>


</html>