<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<form method="post">
    <div class="wrapper">
        <div class="table-responsive-xl">

            <table class="table table-bordered table-dark">
                <thead>
                <tr class="bg-success">
                    <th>1 ряд</th>
                    <th></th>
                    <th>2 ряд</th>
                    <th></th>
                    <th>3 ряд</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-info">
                    <td><input name="1r-1part" type="text" id="1r-1part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="2r-1part" type="text" id="2r-1part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="3r-1part" type="text" id="3r-1part" style="width: 45%" height="5px"></td>
                </tr>
                <tr class="bg-warning">
                    <td><input name="1r-2part" type="text" id="1r-2part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="2r-2part" type="text" id="2r-2part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="3r-2part" type="text" id="3r-2part" style="width: 45%" height="5px"></td>
                </tr>
                <tr class="bg-danger">
                    <td><input name="1r-3part" type="text" id="1r-3part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="2r-3part" type="text" id="2r-3part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="3r-3part" type="text" id="3r-3part" style="width: 45%" height="5px"></td>
                </tr>
                <tr class="bg-primary">
                    <td><input name="1r-4part" type="text" id="1r-4part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="2r-4part" type="text" id="2r-4part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="3r-4part" type="text" id="3r-4part" style="width: 45%" height="5px"></td>
                </tr>
                <tr class="bg-dark">
                    <td><input name="1r-5part" type="text" id="1r-5part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="2r-5part" type="text" id="2r-5part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="3r-5part" type="text" id="3r-5part" style="width: 45%" height="5px"></td>
                </tr>
                <tr class="bg-success">
                    <td><input name="1r-6part" type="text" id="1r-6part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="2r-6part" type="text" id="2r-6part" style="width: 45%" height="5px"></td>
                    <td></td>
                    <td><input name="3r-6part" type="text" id="3r-6part" style="width: 45%" height="5px"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <input type="submit" class="btn btn-success" value="Отправить">
</form>
</body>
<style>
    .wrapper {
        padding-top: 100px;
        width: 95%;
        max-width: 800px;
        margin: 0 auto;
    }

    table {
        margin-top: 40px;
    }



</style>
</html>