<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Добавление темы</h1>
    <form method="post">
        <input type="text" name="data" id="data" class="form-control" value="{{ result[1] }}" placeholder="Введите дату"><br>
        <input type="text" name="title" id="title" class="form-control" value="{{ result[2] }}" placeholder="Введите название темы"><br>
        <textarea name="class" id="class" class="form-control" placeholder="Классная работа">{{ result[3] }}</textarea><br>
        <textarea name="home" id="home" class="form-control" placeholder="Домашняя работа">{{ result[4] }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
</body>
</html>